/* app css stylesheet */

body {
  padding: 0px 50px;
}

header{
  padding: 50px 0;
}


table{
  margin-top: 20px;
}
th,td{
  padding: 7px;
  border: 1px solid #ddd;
}
th{
  cursor: pointer;
}
input,select{
  margin-bottom: 20px;
}