<section>
    <header id="header">

        <h1>Добавить заявку!</h1>
        <form id="bid" ng-submit="addBid.addBids()">
            <input id="header" placeholder="Заголовок" ng-model="addBid.header" autofocus required>
            <input id="text" placeholder="Текст заявки" ng-model="addBid.text" autofocus required>
            <select ng-model="addBid.project" class="form-control" required ng-options="v for (k, v) in addBid.getProjects">
            <option value="">--Select--</option>
            </select>

            <select ng-model="addBid.time" class="form-control" required ng-options="v for (k, v) in addBid.getTime">
                <option value="">--Select--</option>
            </select>
            <input type="submit" id="submit" value="Добавить" />
        </form>
    </header>
    <section id="main" ng-show="addBid.bids.length">
        <div>
            <div>Поиск по проекту</div>
            <select ng-model="addBid.projectSearch"  ng-change="addBid.searchProject()" class="form-control" ng-options="v for (k, v) in addBid.getProjects">
                <option value="">-Все проекты-</option>
            </select>
            <button ng-click = "addBid.clearStorage()">Очистить все</button>

        </div>
        <table id="todo-list">
            <tr>
                <th ng-click="addBid.sortAction('header')">Заголовок</th>
                <th ng-click="addBid.sortAction('text')">Заявка</th>
                <th ng-click="addBid.sortAction('project')">Проект</th>
                <th ng-click="addBid.sortAction('time')">Срочность</th>
                <th>Дата поступления</th>
            </tr>
            <tr ng-repeat="bid in addBid.bids | custom:addBid.projectSearch | orderBy:addBid.sort track by $index">
                    <td>{{bid.header}}</td>
                    <td>{{bid.text}}</td>
                    <td>{{bid.project}}</td>
                    <td>{{bid.time}}</td>
            </tr>
        </table>
    </section>

</section>
